.panel.panel-success
  .panel.heading.h4 Libros Electrónicos
  .panel.body     
    = simple_form_for(libros_path, :url => "index" ,:method => :get ) do |f|
      = f.input :search, label: false, placeholder: "Empresa Tipo Fecha(yyyy-mm) ", :input_html => {:style=> 'width: 300px'}  
      %p
      = f.button :submit, "Buscar",  class: "btn btn-primary btn-xs"

    %br
.panel.panel-success
  %table.table.table-hover
    %tr
      %th{:width => "100"} Rut
      %th Empresa
      %th{:width => "80"} Id Envio
      %th{:width => "80"} Fecha
      %th{:width => "70"} Tipo
      %th Estado
      %th{:width => "130"} Enviado a SII
      %th
      %th
      %th
    - @libros.each do |libro|
      %tr
        %td= libro.rut
        %td= libro.empresa
        %td= libro.idenvio
        %td= libro.fecha
        %td= libro.tipo
        %td= libro.estado
        %td= libro.enviado
        %td= link_to 'Ver Detalle', "/detlibro/index/#{libro.id}", class: "btn btn-primary btn-xs"
        - if libro.estado == "XML NO Generado"
          %td= link_to "Generar", "/listalibro/genxml/#{libro.id}", class: "btn btn-primary btn-xs"
        - else
          %td= link_to "Generar", "/listalibro/genxml/#{libro.id}", class: "btn btn-primary btn-xs", disabled: true
        %td= link_to "XML", "/listalibro/sendxml/#{libro.id}", class: "btn btn-primary btn-xs"
        - if libro.enviado == "NO"
          %td= link_to "Enviar", "/listalibro/sendsii/#{libro.id}", class: "btn btn-primary btn-xs"
        - else
          %td= link_to "Enviar", "/listalibro/sendsii/#{libro.id}", class: "btn btn-primary btn-xs", disabled: true    