%h1 Listing envioclientes
= will_paginate @envioclientes
%table.table.table-hover
  %thead
    %tr
      %th Folio
      %th Tipo
      %th Rut
      %th Rznsoc
      %th Fecha
      //%th
      //%th
      //%th
      
  %tbody
    - @envioclientes.each do |enviocliente|
      %tr
        %td= enviocliente.folio
        %td= enviocliente.tipo
        %td= enviocliente.rut
        %td= enviocliente.rznsoc.force_encoding('utf-8')
        %td= enviocliente.created_at
        //%td= link_to 'Show', enviocliente
        //%td= link_to 'Edit', edit_enviocliente_path(enviocliente)
        //%td= link_to 'Destroy', enviocliente, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

//= link_to 'New Enviocliente', new_enviocliente_path
