%p#notice= notice

%p
  %b Tipodoc:
  = @compmanual.tipodoc
%p
  %b Folio:
  = @compmanual.folio
%p
  %b Fchemis:
  = @compmanual.fchemis
%p
  %b Rutemisor:
  = @compmanual.rutemisor
%p
  %b Rutrecep:
  = @compmanual.rutrecep
%p
  %b Rznsoemisor:
  = @compmanual.rznsocemisor
%p
  %b Mntneto:
  = @compmanual.mntneto
%p
  %b Mntexe:
  = @compmanual.mntexe
%p
  %b Mntiva:
  = @compmanual.mntiva
/ %p
/   %b Otrosimpto:
/   = @compmanual.otrosimpto
%p
  %b Mnttotal:
  = @compmanual.mnttotal
/ %p
/   %b Impto18:
/   = @compmanual.impto18
/ %p
/   %b Impto10:
/   = @compmanual.impto10
/ %p
/   %b Impto25:
/   = @compmanual.impto25
/ %p
/   %b Impto30:
/   = @compmanual.impto30
%p
  %b Estado:
  = @compmanual.estado
%hr
  %h4 Impuestos Adicionales
- @otrosimp.each do |otrosimp|
  =otrosimp.TipoImp
  =otrosimp.TasaImp
%hr
  %h4 Add Otros Impuestos
= simple_form_for([@compmanual,@compmanual.otrosimpcompmanuals.build]) do |f|

  .form-inputs
    = f.collection_select :TipoImp, Impuesto.all,:tipoimp,:tipoimp
    = f.collection_select :TasaImp, Impuesto.all,:tipoimp,:tasaimp
    = f.input :MontoImp
    = f.association :compmanual

  .form-actions
    = f.button :submit

= link_to 'Editar', edit_compmanual_path(@compmanual)
|
= link_to 'Volver', compmanuals_path
