%p#notice= notice

%h3
  =  nomdte =  Tipodte.where(tipo: @doccompra.TipoDTE).last.nombre
%br  
%table.table
  %tr
    %th= 'Folio:'
    %td= @doccompra.Folio
    %th= 'Rut Emisor:'
    %td= @doccompra.RUTEmisor
  %tr  
    %th= 'Razón Social:'
    %td= @doccompra.RznSoc  
    %th= 'Giro:'
    %td= @doccompra.GiroEmis  


%h3 Detalle 
%table.table.table-striped
  %tr
    %th Nrolindet
    %th Vlrcodigo
    %th NmbItem
    %th QtyItem
    %th PrcItem


  - @doccompra.detcompras.each do |detalle|
    %tr
      %td= detalle.NroLinDet
      %td= detalle.VlrCodigo
      %td= detalle.NmbItem.force_encoding('utf-8')
      %td= detalle.QtyItem
      %td= number_to_currency( detalle.PrcItem ,precision: 0, delimiter: "." ) 

%br

%p 
  %b Monto Neto:
  = number_to_currency( @doccompra.MntNeto ,precision: 0, delimiter: "." )
%p 
  %b Monto IVA:
  = number_to_currency( @doccompra.IVA ,precision: 0, delimiter: "." )
%p 
  %b Monto Exento:
  = number_to_currency( @doccompra.MntExe ,precision: 0, delimiter: "." )
%p 
  %b Monto Total:
  = number_to_currency( @doccompra.MntTotal ,precision: 0, delimiter: "." )  


