.panel.panel-success
  .panel.heading.h4 Documentos Electrónicos
  .panel.body
    = simple_form_for(documentos_path,:method => :get ) do |f|
      .row
        .col-xs-12.col-md-1
          Sucursal: 
        .col-xs-12.col-md-2  
          .form-group
            = f.input :sucursal, label: false, collection: Documento.sucursal_options_for_select(current_user.email), :input_html => {:style=> 'width: 180px'}
        .col-xs-12.col-md-1
          Documento:  
        .col-xs-12.col-md-2
          .form-group
            = f.input :tipodte, label: false, collection:  Documento.tipodte_option_for_select,:input_html => {:style=> 'width: 150px'} 
        .col-xs-12.col-md-2 
          .form-group
            = f.input :folio, label: false, placeholder: "Folio", :input_html => {:style=> 'width: 100px'} 
        .col-xs-12.col-md-2
          .form-group 
            = f.button :submit, "Buscar",  class: "btn btn-primary btn-xs"  
        .col-xs-12.col-md-2
          .form-group
            = link_to "Limpiar Busqueda","/documentos",  class: 'btn btn-info btn-xs'
.panel.panel-default              
  = will_paginate @documentos
  %table.table.table-hover
    %tr
      %th Documento
      %th Folio
      %th Fecha Emisión
      %th.hidden_sm Sucursal
      %th.hidden_sm Neto
      %th Monto Total
      %th Estado Envío
      %th Cedible
      %th Tributable
      %th XML
      %th Correo
    - @documentos.each do |documento|
      %tr
        %td= documento.nombre_doc
        %td= documento.Folio
        %td= documento.FchEmis
        %td= documento.sucursal
        %td= number_to_currency(documento.MntNeto, precision: 0, delimiter: "." )
        %td= number_to_currency(documento.MntTotal, precision: 0, delimiter: "." )
        %td= documento.estado
        -if(documento.pdfs?)
          %td= link_to 'PDF', documento.pdfs_url
        -else
          %td
        -if(documento.pdft?)
          %td= link_to 'PDF', documento.pdft_url
        -else
          %td
        -if(documento.fileCliente?)
          %td= link_to 'XML', documento.fileCliente_url
        -else
          %td 
        %td
          %span.glyphicon.glyphicon-envelope
          = link_to 'Enviar',api_v1_sendclient_path(:folio => documento.Folio,:rut => documento.RUTRecep,:tipodte => documento.TipoDTE), :class => "btn btn-primary btn-xs"


  %br

