%p#notice= notice

%p
  %b Name:
  = @impuesto.name
%p
  %b Tipoimp:
  = @impuesto.tipoimp
%p
  %b Tasaimp:
  = @impuesto.tasaimp
%p
  %b Montoimp:
  = @impuesto.montoimp
%p
  %b Descripcion:
  = @impuesto.descripcion
%p
  %b Validacion:
  = @impuesto.validacion

= link_to 'Edit', edit_impuesto_path(@impuesto)
\|
= link_to 'Back', impuestos_path
