
<!DOCTYPE html>
<html lang="es">

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<head>
	<title>Dtebridge</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--<meta charset="utf-8"> -->
</head>
<body>
  <%= render 'layouts/menu' %>	
  <!-- Contenido -->
  <div class="container">
  <h5 style="color:blue">Empresa: <%= Empresa.where(rut: Usuarioempresa.where(useremail:current_user.email).map {|u| u.rutempresa}).last.rznsocial%></h5>
  <%= yield %>
  </div>
  <!-- footer-->
  <div class="row">
    <div class="col-md-12 text-center">Desarrollo de Aplicaciones y Factura Electrónica en Chile – Teléfono: 2 3225 4850
    </div>
    <!--   <div class="col-md-12 text-center">copyright Invoice Digital SPA</div> -->
    <div class="col-md-12 text-center">copyright Invoice Digital SPA - Versión 20170816_2300
    </div>
  </div>
</div>
</body>
</html>
