.panel.panel-success
  .panel.heading.h4 Contribuyentes
  .panel.body
    = form_tag contribuyentes_path,:method=> "get" do |f|
      .row
        .col-xs-12.col-md-2
          .form-group
            .p.strong Busca Contribuyente:
        .col-xs-12.col-md-2
          .form-group
            = text_field_tag "rut", nil,placeholder: 'RUT: 00000000-0',:autofocus => true,:input_html => {:style=> 'width: 130px'}
        .col-xs-12.col-md-2
          .form-group    
            = submit_tag "buscar",:class=>"btn btn-default btn-xs"
        .col-xs-12.col-md-2
          .form-group
            = link_to "Limpiar Busqueda","/contribuyentes",  class: 'btn btn-info btn-xs'  
.panel.panel-default
  = link_to "Crear Contibuyente","/contribuyentes/new",  class: 'btn btn-success btn-sm'
  %p
  = will_paginate @contribuyente
  %table.table.table-hover
    %tr
      %th ID 
      %th Rut Contibuyente
      %th Nombre
      %th Email
      %th

    - @contribuyente.each do |contribuyente|
      %tr
      %td= contribuyente.id
      %td= contribuyente.rut
      %td= contribuyente.nombre.force_encoding('utf-8')
      %td= contribuyente.email
      %td= link_to 'Editar', edit_contribuyente_path(contribuyente)
      / %td= link_to 'Eliminar', contribuyente, :method => :delete, :data => { :confirm => 'Está seguro?' }
  %br
= link_to 'uploads Contribuyente', '/contribuyentes/upload', class: "btn btn-default btn-xs"


