%h1 Contribuyentes
.container-fluid
  .row
    .col-xs-12.col-sm-6.col-md-12
      = form_tag contribuyentes_path,:method=> "get" do |f|
        = text_field_tag "rut", nil,placeholder: 'Rut Contribuyente'
        = submit_tag "buscar",:class=>"btn btn-default"
        = link_to "Limpiar Busqueda","/contribuyentes",  class: 'btn btn-info btn-xs' 
        %hr
  .row
    .col-md-12
/%p Contribuyentes Registrados :
/%h3= @contribuyentes
%br
= will_paginate @contribuyente
%table.table.table-striped
  %tr
    %th Rut
    %th Nombre
    %th Email
    %th
    %th
    %th

  - @contribuyente.each do |contribuyente|
    %tr
    %td= contribuyente.rut
    %td= contribuyente.nombre
    %td= contribuyente.email
    %td= link_to 'Show', contribuyente
    %td= link_to 'Edit', edit_contribuyente_path(contribuyente)
    %td= link_to 'Destroy', contribuyente, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
= link_to 'uploads Contribuyente', '/contribuyentes/upload', class: "btn btn-primary btn-xs"


